/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    /* para os inputs respeitar o tamanho maximo das divs pais */
}
body{
    background-color: #000;
}

h1,
h2,
h3 {
    color: #fff;
}

p {
    color: #dadada;
}

/* Navbar */

.navbar-container{
    width: 100%;
    height: 63px;
    background-color: rgba(0, 0, 0,0.7);
}

.nav{
    position: relative;
}
.logo{
    width: 132px;
    margin-top: 20px;
    margin-left: 6em;
    fill: rgb(244, 117, 33);
    transition: 0.3s;
}

.logo:hover{
   fill: #fff;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 63px;
    line-height: 63px;
    margin: 0 5rem 0 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 3px;
}

.navbar-items a{
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-size: 15px;
}

.login-btn{
    color: #fff;
    background-color: #000;
    padding: 12px 36px;
}

.explorer-btn{
    color: #ddd;
    border: 2px solid #ddd;
    padding: 11px 17px;
}

.login-btn:hover{
    background-color: rgb(20, 21, 25);
}

.explorer-btn:hover{
    color: #fff;
    border-color: #fff;
}

/* Main banner */

.main-banner{
    background-image: url('../img/background-desktop.webp');
    background-size:cover;
    background-position:center;
    padding: 18em 0 ;
    position: relative;
    z-index: -1;
    top: -63px;
}
.main-banner h1,
.main-banner p {
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
    margin-left: auto; /*Utilizado "centralizar" o texto*/
    margin-right: auto;  /*Utilizado "centralizar" o texto*/
}

.main-banner h1 {
    font-size: 60px;
}

.main-banner p {
    max-width: 35rem; /*Utilizado para quebrar a linha */
    font-size: 20px;
    margin-top: 10px;
}

/* Service */
.services-container{
    margin-bottom: 100px;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none; /* tira a bolinha da lista */
    text-align: center;
    padding: 20px;
}

.services-container p{
    line-height: 24px;
}

.title-services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.svg-play {
    fill: #f47521;
}

.svg-plane {
    fill: #2abdbb;
}

.svg-crown {
    fill: #fab818;
}


/* Prices and plans */
/* .pricing-container {
    color: #fff;
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between; 
        //cria espaçamento entre os itens na largura disponivel 
    width: 90%;
    margin: 50px auto 0;
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    // height e line-height técina de centralização na vertical
    background-color: #141519;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
     //nesse caso relative faz a bolinha parecer na frente da lista 
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: #14151993;
    padding: 50px 0;
}

.plan .plan-btn{
    background-color: #2cc762;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended {
    background-color: #f45c57;
} 
*/


/* Plans meu*/
.pricing-container{
    position: relative;
}

.title-pricing{
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    margin: 50px 0 70px 0;
}


.plans-container{
    display: flex;
    margin:  auto 10%;
    gap: 10px;
}

.plan-fan{
    color: #fff;
    padding: 32px;
    border: 1px solid #fab818;
    background-color: #141519;
}
#pricing-plan-fan{
    margin-top: 12%;
}

#pricing-plan-megafan-year{
    margin-top: 13%;
}

.img-best-plan-fan{
    position: relative;
}

.img-best-plan-fan img{
    user-select: none;
    position: absolute;
}

.img-linesfocus-best-plan{
    height: 300px;
    top: -220px;
    left: -55px;
}

.img-crown-best-plan{
    top: -225px;
    left: -55px;
}

.card-head{
    text-align: center;
    margin-bottom: 20px;
}

.card-head h2,
.card-head small{
    text-transform: uppercase;
    font-weight: bold;
}

.card-head h2,
.card-head h3{
    font-size: 25px;
}

.small-text{
    font-size: 10px;
    color: #A0A0A0;
}

#best-plan-fan{
    color: #fab818;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-head h2 {
    margin-bottom: 15px;
}

.card-head h3{
    margin-bottom: 5px;
}


.card-actions{
    padding: 0;
    text-align: center;
    margin: 22px 0;
}

.btn-freetest{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fab818;
    font-weight: bold;
}

.btn-freetest div{
    padding: 10px 0;
    border: 2px solid #fab818;
}

.btn-freetest-best-plan{
    background-color: #fab818;
    color: #000;
}


.btn-skiptest{
    margin: 15px;
}

.btn-skiptest a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.plan-fan p{
    font-size: 14px;
    color: #fff;
}

.pluslist{
    margin-top: 10px;
}

.border-line-plus{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 15px;
}

.border-line-plus::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    background-color: #a0a0a0;
    opacity: 0.4;
}

.border-line-plus small{
    background-color: #141519;
    color: #dadada;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    z-index: 1;
}

.pluslist ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #dadada;
}

.pluslist li{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 14px;
}

.svg-icon-list{
    fill: #fab818;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;

    /* flex-grow: determina o quanto o elemento pode diminuir o seu tamanho conforme os outros elementos
    flex-shrink: determina o quanto o elemento pode crescer seu tamanho conforme os outros elemento
    flex-basis: determina o tamanho(largura) do elemento, auto = original  */
} 


/* Search anime */

.searchanime-container{
    position: relative;
    display: flex ;
    background-image: url("../img/background-2.webp");
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem 0rem 2rem;
    margin-bottom: 5rem;
}

.image-hero {
    width: 50%;
    margin-bottom: 5rem;
}

.searchanime-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchanime-container div img{
    width: 70%;
}

.searchanime-form{
    text-align: center;
    margin-left: 3.2rem;
    margin-bottom: 4rem;
}

.searchanime-form h2{
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchanime-form p{
    color: #fff;
    font-size: 24px;  
    margin-bottom: 25px;
    text-shadow: #00000088 1px 2px 3px;
}

.searchanime-form input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    /* centraliza o input */
}

.searchanime-form input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchanime-form input[type="submit"]{
    background-color: #2cc76a;
    padding: 15px 30px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.searchanime-form input[type="submit"]:hover{
    opacity: 1;
}

/* contact form */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("../img/hime-feedback-2.png");
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 8rem 0 10rem 5rem;
    margin-top: 5rem;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
    margin-left: 10%;
}

.contact-container p {
    color: #fff;
    font-size: 20px;
    margin-bottom:10px;
}

.contact-container form{
    margin-left: 2rem;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px 10px;
}

.contact-container textarea {
    display: block;
    width: 470px;
    height: 150px;
    margin: 0 auto;
}

.contact-container input[type="submit"] {
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
    border: #2cc76a;
}

/* footer */

footer{
    position: relative;
    text-align: center;
    font-weight: bold;
    margin: 50px 0 100px;
}

/* shadow */

.shadow-searchanime-container,
.shadow-pricing-container,
.shadow-footer{
    position: absolute;
    width: 102.4%;
    left: -2rem;
}

.shadow-searchanime-container{
    height: 10rem;
    bottom: 0px;
    background-image: linear-gradient(180deg,#0000,#000);
}

.shadow-pricing-container{
    height: 10rem;
    bottom: -12rem;
    background-image: linear-gradient(180deg,#000,#0000);
}

.shadow-footer{
    height: 8rem;
    top: -8rem;
    background-image: linear-gradient(180deg,#0000,#000);
}

/* responsividade */

/* small laptops a partir de 1100px */
@media (max-width: 1100px){

    .searchanime-form p{
        color: #fff;
        text-shadow: #00000088 1px 2px 3px;
    }
    .image-hero {
        height: 50%;
        margin-bottom: 0;
        margin-top: 7rem;
    }
    .plans-container{
        margin: auto 3%;
    }

    .title-services{
        text-align: center;
        margin-right: 20px;
    }

    .shadow-searchanime-container,
    .shadow-pricing-container,
    .shadow-footer{
        width: 103%;
    }
}

/* tablet 900px*/

@media (max-width: 900px){
    .main-banner h1{
        font-size: 50px;
    }
    .main-banner p{
        font-size: 18px;
        padding: 0 2rem;
    }

    .title-services{
        text-align: center;
    }

    .searchanime-form h2{
        color: #fff;
        font-size: 35px;
        margin-bottom: 15px;
    }
    
    .searchanime-form p{
        color: #fff;
        text-shadow: #00000088 1px 2px 3px;
        font-size: 18px;  
        margin-bottom: 25px;
    }

    .searchanime-form input[type="text"] {
        padding: 15px 20px;
        font-size: 15px;
    }

    .searchanime-form input[type="submit"]{
        padding: 10px 20px;
        font-size: 18px;
    }

    .image-hero {
        height: 60%;
        margin-bottom: 0;
        margin-top: 7.5rem;
    }

    .plans-container{
        display: grid;
        grid-template-areas:
        ". a a ."
        "b b c c";
    }
    
    #plan-container-best{
        grid-area: a;
    }

    #plan-container-fan{
        grid-area: b;
    }

    #plan-container-megafan-year{
        grid-area: c;
    }

    #pricing-plan-fan,
    #pricing-plan-megafan-year{
        margin-top: 1%;
    }

    .contact-container{
        padding: 5rem 0 5rem 2rem;
    }

    .contact-container h2 {
        font-size: 33px;
    }

    .contact-container p {
        font-size: 16px;
    }

    .contact-container input,
    .contact-container textarea {
        font-size: 14px;
    }

    .contact-container form{
        margin-left: 0;
    }

    .shadow-searchanime-container,
    .shadow-pricing-container,
    .shadow-footer{
        width: 105%;
    }
}