/* reset */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f8eef0;
}

h1,h2,h3,h4,h5{
    color: #333;
}

p,label{
    color: #444;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea{
    outline: none;
    width: 400px;
}

textarea{
    padding:  10px 5px;
}

/* page header */

.header{
    height: 160px;
    padding: 20px;  
    background-color: #c40811b6;
}

.header h3{
    color: #fff;
    margin-top: 0;
}

.header img{
 border-radius: 5px;
 margin-left: 50px;
}

/* form container */

.form-container {
    background-color: #fff;
    border: 1px solid #fdc7caa6;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/* form-header */
.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p {
    color: #c40811b6;
    border-bottom: 2px solid #c40811b6;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* form-body */

.form-body {
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field{
    color: #d80835;
}

.box-input{
    margin-bottom: 35px;
}

.box-input-range-distance{
    margin: 10px 0;
}

.box-input-range {
 display: inline-block;
 min-width: 180px;
 margin: 10px 100px 10px 0px;
}

.block{
    display: block;
}

.optional-box {
    display: inline-block;
    margin-bottom: 35px;
}

.optional-list li {
 list-style: none;
 margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 15px;
}


.btn-submit{
    display: block;
    background-color: #d80835 ;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #d80835;
    color: #d80835;
}

.bold{
    font-weight: bold;
}