@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem 1rem 2rem;
}

h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333;
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

#controls-container,
#preview {
    flex: 1;
    min-height: 766px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px 1px #000;
}

/* Controles */
.form-control {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px dashed #ccc;
}

#containerCheckbox{
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#containerCheckbox label {
    margin: 0;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}

.range-input {
    display: flex;
    align-items: center;
    flex: 1;
}

.range-input input[type="range"] {
    -webkit-appearance: none;
    appearance:  none;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to left, #0023ff, #0051ff, #006fff, #0087ff, #009dff);
    outline: none;
    border-radius: 5px;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance:  none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff0000, #ff6100, #ff9300, #ffbf00, #ffe700);
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
}

.reference-input {
    display: flex;
    align-items: center;
}

.reference-input p {
    margin-left: 4px;
}

.form-control input[type="text"] {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1rem;
    text-align: center;
    border: 2px solid #102d90;
}

#inset {
    height: 20px;
    width: 20px;
}

#preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 1rem;
}

.input-preview-container {
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-preview-container input {
    height: 100%;
}

.input-preview-container label {
    font-weight: bold;
    color: #333;
}

#input-preview-group{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#input-color-value,
#input-color-preview-value,
#input-color-shadow-value {
    all: initial;
    border: 1px solid #000;
    width: 80px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
}

#input-color-value:focus,
#input-color-preview-value:focus,
#input-color-shadow-value:focus {
    outline: 0.5px solid #000;
}

#input-color,
#input-color-preview,
#input-color-shadow {
    appearance: none;
	border: none;
    border-radius: 10px;
	width: 32px;
	height: 32px;
    cursor: pointer;
    
}
#input-color::-webkit-color-swatch-wrapper,
#input-color-preview::-webkit-color-swatch-wrapper,
#input-color-shadow::-webkit-color-swatch-wrapper {
	padding: 0;
}
#input-color::-webkit-color-swatch,
#input-color-preview::-webkit-color-swatch,
#input-color-shadow::-webkit-color-swatch {
    border: solid 1px #000;
    border-radius: 10px;
}

#list-view-options{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

#list-view-options li{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5px;
 width: 40px;
 height: 40px;
 border: 1px solid #000;
 opacity: 0.8;
 border-radius: 5px;
 cursor: pointer;
 transition: 0.2s;
 filter: drop-shadow(0px 0px 1px #000);
}

#list-view-options li:hover {
    opacity: 1;
    transform: translateY(-5%);
}

#list-view-options li span {
    display: block;
    width: 100%;
    height:100%;
    background-color: #e9d60a;
    pointer-events: none;
}

#box-container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 268px;
    height: 268px;
    background-color: #e9d60a;
}

.parallelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.circle {
    clip-path: circle(50% at 50% 50%);
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.star {
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
}

.close {
    clip-path: polygon(
        20% 0%, 
        0% 20%, 
        30% 50%, 
        0% 80%, 
        20% 100%, 
        50% 70%, 
        80% 100%, 
        100% 80%, 
        70% 50%, 
        100% 20%, 
        80% 0%, 
        50% 30%
    );
}

.message {
    clip-path: polygon(
        0% 0%, 
        100% 0%, 
        100% 75%, 
        75% 75%, 
        75% 100%, 
        50% 75%, 
        0% 75%
    );
}

/* Area de geração */
#generated-rule {
    text-align: center;
    margin-bottom: 2rem;
}

#rules-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-height: 155px;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 2px #9c9a9a;
    cursor: pointer;
}

#rules-area:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 2px 6px 4px #9c9a9a;
}

#copy-message{
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    top: 1.6rem;
}

.show-message {
    opacity: 1;
    animation: show 1.5s forwards;
}

.hide-message {
    opacity: 0;
    animation: hide 1s forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-80%);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(-80%);
    }

    to {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.hide {
    display: none;
}

/* white color */
.white-color-text {
    color: #fff !important;
}

.white-color-border-filter {
    border: 1px solid #fff !important;
    filter: drop-shadow(0px 0px 1px #fff) !important;
}

.white-color-border::-webkit-color-swatch {
    border: 1px solid #fff !important;
}

@media (max-width: 425px) {

    #box-shadow-generator{
        flex-direction: column;
    }

    #controls-container {
        padding: 1rem 2rem;
        min-height: auto;
    }

    #box {
        width: 74%;
        height: 200px;
        margin-top: 3rem;
    }
}

@media (max-width: 375px){
    #box {
        width: 88%;
        height: 188px;
    }
}

@media (max-width: 320px){
    #box {
        width: 100%;
        height: 160px;
    }

    .input-preview-container label {
        width: min-content;
    }
}

@media (max-width: 280px){
    #box {
        width: 100%;
        height: 120px;
    }
}
