* {
    font-family: "Verdana";
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333;
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#controls-container,
#preview {
    flex: 1;
    padding: 2rem;
}

/* Controles */
.form-control {
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px dashed #ccc;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}

.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.range-input input[type="range"] {
    -webkit-appearance: none;
    appearance:  none;
    width: 100%;
    height: 10px;
    background-image: radial-gradient(circle, #d16b6b, #d56d87, #d075a4, #c280be, #ad8dd4, #b990d7, #c592da, #d195dc, #fa8fc1, #ff939d, #ffa379, #fbba5f);
    outline: none;
    border-radius: 5px;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance:  none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-image: linear-gradient(to right, #110ddd, #c40098, #ec0055, #e84621, #ce8700, #a49b00, #72a925, #11b357, #00a172, #008d81, #007881, #076374);
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
}

.reference-input {
    display: flex;
    align-items: center;
}

.reference-input p {
    margin-left: 4px;
}

.form-control input[type="text"] {
    height: 30px;
    width: 30px;
    border-radius: 1rem;
    margin-left: 1rem;
    text-align: center;
}

#box {
    
}