/* 4 - External */
body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* p{
    color: blueviolet;
} */

/* classes */
.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* id */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* ordem das regras */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name{
    color:darkred;
}

/* Hex */

.hex{
    color: #55a398;
}

.hex-2{
    color: #22ca20;
}

/* Aprofundamento em hex */

.simple-hex{
    color: #333;
}

.simple-hex-2{
    color: #a5f;
}

/* RGB */

.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(142,22,44);
}

/* RGBA */

.rgba {
    color: rgba(100,100 ,45,0.3)
}

/* HSL */

.hsl{
    color: hsl(100, 20%, 50%)
}
.hsl-2{
    color: hsl(50, 80%, 5%)
}

/* Background */

.bg{
    background-color: #000;
    color: yellow;
}

.bg-2{
    background-color: rgb(200,20,40);
    color: #00eaff;
}

/* Background opacity */

.bg-opacity{
    background-color: green;
    opacity: 0.2;
}
.bg-opacity-2{
    background-color: #999;
    color: black;
    opacity: 0.8;
}

/*  RGBA com opacidade */

.rgba-opacity{
    background-color: rgba(90,120,20,0.2);
    color: black;
}

/* Background image */

.bg-image{
    background-image: url("../img/espaco.avif");
    padding: 10px;
    color: #FFF;
}

/* centralizando background img */

.not-centered-bg,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url("../img/espaco.avif");
}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/* height width */

.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300px;
    background-color: #333;
}

/* padding */

.without-padding,
.with-padding{
    background-color: #111;
    color: #fff;
}

.with-padding{
    background-color: #333;
    padding: 20px;
}

/* padding-individual */

.padding-individual{
    background-color: #222;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* shorthand padding */

.shorthand-padding{
    background-color: #444;
    padding: 5px 12px 18px 24px; 
        /* top/right/bottom/left */
}

.shorthand-padding-2{
    background-color: #444;
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px;  */
}

/* padding com with */
/* se o elemento tem 400px e o padding 50px o elemento fica 450px
o box-sizing: border-box faz ele manter os 400px */

.without-border-box{
    background-color: #444;
    color:#fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #7a7676;
    color:#fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */

.border{
    border:5px solid red;
     /* largura/aparencia/cor */
     padding: 10px;
}

.border-2{
    border:2px dotted #931;
    padding: 10px
}

/* Border individual */

.border-left{
    border-left: 3px solid red;
    background-color: #22ca20;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double red;
    background-color: #00eaff;
    padding: 30px;
}

/* Border-radius */

/* Se tem border ele mexe com o border e com o padding */
.border-radius{
    border: 5px solid blue;
    background-color: #000;
    color: #24ce55;
    padding: 15px;
    border-radius: 15px;
}

/* Se nao tem border ele mexe meio q diretamente com o padding */
.border-radius-2{
    background-color: #000;
    color: #24ce55;
    padding: 15px;
    border-radius: 25px;
}

/* Margin */
/* background-color nao pega na margin */
.margin{
    margin: 10px;
    background-color: #888;

}

.margin-top{
    margin-top: 50px;
    background-color: #931;
    padding: 10px;
}

.margin-shorhand{
    background-color: #22ca20;
    margin: 5px 10px 15px 20px;
    /* top/right/bottom/left */
}